@import "./styles/reset.scss";

html {
  background-color: #dfdfdf;
}
.app {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;

  button {
    border: none;
    background: #a2a2a2;
    border-radius: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .transparent-button {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-color: transparent;
    font-size: 16px;
    width: 50px;
    height: 50px;
  }

  .word {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .sound {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-style: solid;
    font-size: 200px;
    padding: 100px;
    position: relative;

    &.left {
      padding-left: 0;
      z-index:1;
    }
    &.right {
      padding-right: 0;
      z-index:2;
    }
  }

  .blocker {
    position: absolute;
    top: 0;
    right: 100%;
    width: 100px;
    height: 100%;
    background: white;
  }

  .play {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 100vh;
    .action {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .edit-button {
      background-image: url("./icons/settings-24px.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.5;
    }
  }

  .distance-slider {
    position: absolute;
    bottom: 0;
    width: calc(100vw - 100px);
    margin: 0 50px 10px;
  }
}
